rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Satu dokumen sahaja: data/murid
    match /data/murid {
      allow read: if true;
      allow create, update: if request.resource.data.murid.size() < 3000;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
